[Unit]
Description=Qashqadaryo IIB Xabarnoma Tizimi
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/mnt/hdd128gb/qashqadaryo-iib-notification
ExecStart=/usr/bin/node /mnt/hdd128gb/qashqadaryo-iib-notification/server.js
Restart=on-failure
RestartSec=10
StandardOutput=append:/mnt/hdd128gb/qashqadaryo-iib-notification/server.log
StandardError=append:/mnt/hdd128gb/qashqadaryo-iib-notification/server.log

[Install]
WantedBy=multi-user.target